################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGameSolution/MyGameProject/bin/Debug/netcoreapp3.1/runtimes
